{% extends "layout.html" %}
{% block title %}TRADER LIST{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div class="wrapper wrapper-content">
        <div class="wrapper wrapper-content" id="foo">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div style="text-align:center">
                            <button id="button1" class="btn btn-w-m btn-default"
                                    onclick="window.location.href='{{ url_for('.show_create_real_trader_page') }}';">CREATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for trader in trader_list %}
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="col-lg-3">
                            <h5>{{ trader[1].name }}</h5>
                            <span class="label label-primary">{{ trader[0].currency }}</span>
                        </div>
                        <div class="col-lg-9">
                            <span class="label label-warning log-info animated fadeInUp pull-right" data-value="{{ trader[0].run_no }}"></span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="stat-list">
                                    <li>
                                        <span class="label label-danger">{{ trader[0].trader_parm }}</span>
                                    </li>
                                    <li>
                                        <h3>{{ trader[0].cur_balance }}</h3>
                                    </li>
                                    <li>
                                        {% if is_alive[trader[0].run_no] %}
                                        <button type="button" class="btn btn-w-m btn-primary hidden" data-value="{{ trader[0].run_no }}">RUN</button>
                                        <button type="button" class="btn btn-w-m btn-danger" data-value="{{ trader[0].run_no }}">STOP</button>
                                        {% else %}
                                        <button type="button" class="btn btn-w-m btn-primary" data-value="{{ trader[0].run_no }}">RUN</button>
                                        <button type="button" class="btn btn-w-m btn-danger hidden" data-value="{{ trader[0].run_no }}">STOP</button>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Order History</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                            </div>

                            <div class="ibox-content">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Price</th>
                                        <th>Volume</th>
                                    </tr>
                                    </thead>
                                    <tbody class="order_list" data-value="{{ trader[0].run_no }}">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('.log-info').each(function(){
                var run_no = $(this).data('value')
                var url = 'http://'+location.host+'/trader/real/log/'+run_no
                var socket = io.connect(url);

                var $this = $(this);
                socket.on('connect', function() {
                   console.log('socket connected')
                });

                socket.on('message', function(msg) {
                    //console.log('Received message');
                    $this.hide().html(msg).fadeIn(3000,function(){
                     setTimeout(function(){$this.fadeOut(3000);},3000);
                    });

                });
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.order_list').each(function(){
                var id = $(this).data('value')
                var data = {}
                data['run_no'] = id
                data = JSON.stringify(data)
                //alert(id)
                $.ajax({
                    context : this
                    ,url         : '/traders/real/order'
                    ,type        : 'POST'
                    ,cache       : false
                    ,data        : data
                    ,contentType : 'application/json; charset=utf-8'
                    ,dataType    : 'json'
                    ,success: function(response) {
                        //console.log(response)

                        var order_list = response['order_list']
                        for(order in order_list){
                            var status = '<span class="label label-warning">'+order_list[order]['order_status']+'</span>'
                            var type = (order_list[order]['type'] == 'buy')
                            ? '<td><span class="label label-danger">BUY</span>'+status+'</td>'
                            : '<td><span class="label label-primary">SELL</span></td>';

                            var time = '<td><i class="fa fa-clock-o"></i>'+order_list[order]['create_dt']+'</td>'
                            var price = '<td>'+order_list[order]['price']+'</td>'
                            var volume = '<td>'+order_list[order]['volume']+'</td>'

                            $(this).append(
                            '<tr>'
                            +type
                            +time
                            +price
                            +volume
                            +'</tr>')
                        }

                    }
                    ,error: function(error) {
                        console.log(error);
                    }
                });
            });
        });



    </script>
    <script>

        $(".btn-primary").click(function(){
            var id = $(this).data('value')
            var data = {}
            data['run_no'] = id
            data = JSON.stringify(data)
            //alert(id)
            $.ajax({
                context : this
                ,url         : '/traders/real/run'
                ,type        : 'POST'
                ,cache       : false
                ,data        : data
                ,contentType : 'application/json; charset=utf-8'
                ,dataType    : 'json'
                ,success: function(response) {
                    console.log(response)
                    console.log($(this).siblings('.btn-danger'));

                    $(this).toggleClass('hidden');
                    $(this).siblings('.btn-danger').toggleClass('hidden');

/*
                    var stop_btn = '<button type="button" class="btn btn-w-m btn-danger" data-value='
                        +$(this).data('value')+'>STOP</button>'
                    $(this).replaceWith(stop_btn)
*/
                }
                ,error: function(error) {
                    console.log(error);
                }
            });
        });

        $(".btn-danger").click(function(){
            var id = $(this).data('value')
            var data = {}
            data['run_no'] = id
            data = JSON.stringify(data)
            //alert(id)
            $.ajax({
                context : this
                ,url         : '/traders/real/stop'
                ,type        : 'POST'
                ,cache       : false
                ,data        : data
                ,contentType : 'application/json; charset=utf-8'
                ,dataType    : 'json'
                ,success: function(response) {
                    console.log(response)
                    var run_btn = ''
                    //$(this).replaceWith(run_btn)
                    $(this).toggleClass('hidden');
                    $(this).siblings('.btn-primary').toggleClass('hidden');
                }
                ,error: function(error) {
                    console.log(error);
                }
            });
        });


    </script>

{% endblock %}