{% extends "layout.html" %}
{% block title %}TRADER LIST{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div class="wrapper wrapper-content">
        <div class="wrapper wrapper-content" id="foo">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div style="text-align:center">
                            <button id="button1" class="btn btn-w-m btn-default"
                                    onclick="window.location.href='{{ url_for('.show_create_real_trader_page') }}';">CREATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for trader in trader_list %}
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="col-lg-3">
                            <h5>{{ trader[1].name }}</h5>
                            <span class="label label-primary">{{ trader[0].currency }}</span>
                        </div>
                        <div class="col-lg-9">
                            <span class="label label-warning log-info animated fadeInUp pull-right" data-value="{{ trader[0].run_no }}"></span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="stat-list">
                                    <li>
                                        <span class="label label-danger">{{ trader[0].trader_parm }}</span>
                                    </li>
                                    <li>
                                        {% if is_alive[trader[0].run_no] %}
                                        <button type="button" class="btn btn-w-m btn-primary hidden" data-value="{{ trader[0].run_no }}">RUN</button>
                                        <button type="button" class="btn btn-w-m btn-danger" data-value="{{ trader[0].run_no }}">STOP</button>
                                        {% else %}
                                        <button type="button" class="btn btn-w-m btn-primary" data-value="{{ trader[0].run_no }}">RUN</button>
                                        <button type="button" class="btn btn-w-m btn-danger hidden" data-value="{{ trader[0].run_no }}">STOP</button>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('.log-info').each(function(){
                var run_no = $(this).data('value')
                var url = 'http://'+location.host+'/trader/real/log/'+run_no
                var socket = io.connect(url);

                var $this = $(this);
                socket.on('connect', function() {
                   console.log('socket connected')
                });

                socket.on('message', function(msg) {
                    //console.log('Received message');
                    $this.hide().html(msg).fadeIn(3000,function(){
                     setTimeout(function(){$this.fadeOut(3000);},3000);
                    });

                });
            });
        });
    </script>

    <script>
        $(document).ready(function() {

        });




    </script>
    <script>

        $(".btn-primary").click(function(){
            var id = $(this).data('value')
            var data = {}
            data['run_no'] = id
            data = JSON.stringify(data)
            //alert(id)
            $.ajax({
                context : this
                ,url         : '/traders/real/run'
                ,type        : 'POST'
                ,cache       : false
                ,data        : data
                ,contentType : 'application/json; charset=utf-8'
                ,dataType    : 'json'
                ,success: function(response) {
                    console.log(response)
                    console.log($(this).siblings('.btn-danger'));

                    $(this).toggleClass('hidden');
                    $(this).siblings('.btn-danger').toggleClass('hidden');

/*
                    var stop_btn = '<button type="button" class="btn btn-w-m btn-danger" data-value='
                        +$(this).data('value')+'>STOP</button>'
                    $(this).replaceWith(stop_btn)
*/
                }
                ,error: function(error) {
                    console.log(error);
                }
            });
        });

        $(".btn-danger").click(function(){
            var id = $(this).data('value')
            var data = {}
            data['run_no'] = id
            data = JSON.stringify(data)
            //alert(id)
            $.ajax({
                context : this
                ,url         : '/traders/real/stop'
                ,type        : 'POST'
                ,cache       : false
                ,data        : data
                ,contentType : 'application/json; charset=utf-8'
                ,dataType    : 'json'
                ,success: function(response) {
                    console.log(response)
                    var run_btn = ''
                    //$(this).replaceWith(run_btn)
                    $(this).toggleClass('hidden');
                    $(this).siblings('.btn-primary').toggleClass('hidden');
                }
                ,error: function(error) {
                    console.log(error);
                }
            });
        });


    </script>

{% endblock %}